@media (max-width: 1010px) {
  span {
    max-width: 250px;
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  span {
    max-width: 150px;
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .shopping-icon-img {
    display: none;
  }
  .shopping-cart-container {
    display: inline;
  }
  .basket-wrapper{
    display: none;
  }
  .main-content{
    width: 100%;
  }
}

@media (max-width: 350px) {
  span {
    max-width: 130px;
    font-size: 14px;
  }
  h2 {
    font-size: 15px;
  }
  nav {
    margin: 8px;
  }
  a {
    font-size: 16px;
  }
  .shopping-cart-btn {
  font-size: 1.2rem;
}
}
